body {
    font-family: Verdana;
    background-color: black;
    color: white;
}
h1 {
    text-align:center;
}
.main-title{
    font-style: oblique;
    font-weight: 100;
}
.list-of-contents li{
    line-height: 30px;
}
a {
    color: aqua
}
p{
    text-indent: 30px;
}
.description{
    line-height: 30px;
    text-indent: 30px;
    font-size: 15px;
}
.navbar{
    position:sticky;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #2f3949;
    color:white;
}
.navbar .nav-link{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.main{
    position: relative;
    min-height: 80vh;
}
.blank-space{
    min-height: 120vh;
}
.footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(70, 110, 167);
    color:white;
    text-align: right;
    font-size: 12px;
}
.footer .flex-container{
    display: flex;
    flex-direction: row-reverse;
}
.footer a{
    padding: 5px
}
.top-to-btm{
    position: relative;
  }
#mycanvas{
  width: 500px;
  height: 200px;
  background-color: white;
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}